[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "academic-scripts"]
	path = academic-scripts
	url = git@github.com:sourcethemes/academic-scripts.git
[submodule "public"]
	path = public
	url = git@github.com:denis-trofimov/denis-trofimov.github.io.git
	branch = master
